.brand-logo {
	margin: 0 20px;
	font-family: 'Josefin Sans', sans-serif;
}

.section-header {
	text-transform: uppercase;
	font-weight: 600;
}

.title {
	color: #1f2963;
	font-weight: 600;
	font-family: Oswald, sans-serif;
}

/*Cart*/
.cartBox {
	margin: 40px;
	border: 1px solid #bbb;
}

.cart_content {
	font-size: 20px;
	text-align: left;
}

.checkout-now {
	margin: 30px 20px 20px;
	text-align: center;
}

.btn-checkout {
	background-color: rgba(31, 196, 53,1);
	border: none;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
}

.btn-checkout:focus {
	background-color: green;
}

/* Checkout */
.section-container {
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #ddd;
}

/*Parallax Companies*/
.imageSize.h100 {
    height: 100px;
}

.imageSize.h200 {
    height: 200px;
}

.parallax-container {
	border: 1px solid #ddd;
}

/*Hero Slider*/
.slider .caption h3 {
  color: #00f;
  text-shadow: 2px 2px 10px rgba(0,0,0,.9);
	font-weight: 800;
}

.slider .caption h5 {
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0,0,0,.7);
}

.slider {
	height: 330px !important;
	margin-bottom: 30px;
}

.slider .slides {
	height: 300px !important;
}

.slider .indicators .indicator-item.active {
	background-color: #1e88e5;
}

.hero-link {
	display: block;
  color: #fff;
  background-color: rgba(0,0,0,.6);
  text-align: center;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px 5px;
  border-radius: 10px;
}

.hero-link:hover {
	background-color: rgba(0,0,255,.6);
}

/*Footer*/
.footer {
  min-height: 100px;
  background: #E5E5E5;
  position: relative;
	color: #fff;
}

.footer span {
  position: relative;
	width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #B8B8B8;
}

.backToTop {
	text-align: center;
	margin-bottom: 40px;
	background-color: #708ec8;
	padding: 10px 0;
	color: #fff;
}

.LinksContainer {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.footerLinksRow {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.footerLinksSectionHeader {
	font-weight: 700;
}

.footerLink {
	color: #fff;
}

.footerLink:hover {
	text-decoration: underline;
}

.copyrightSection {
	text-align: center;
	background-color: #1f2963;
	padding: 15px 0 20px;
}

.copyrightSection ul {
	margin-bottom: 0;
}

.copyrightSection li {
	display: inline;
}

/*Navigation*/
.navitem-shopping-cart {
	position: relative;
}

.navitem-shopping-cart .cart-badge {
	position: absolute;
	top: 0;
	left: 0;
	color: #12c7ff;
}

.nav-wrapper .searchbox {
	width: 500px;
	background-color: #fff;
	margin: 0;
	padding: 0 10px;
	color: #000;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.searchBtn {
	position: relative;
  background-color: #1f2963;
  border: 0;
	height: 44.5px;
	top: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
	outline: none;
}

.searchBtn:focus {
	background-color: #708ec8;
}

.nav-wrapper .material-icons {
	-webkit-transition: transform 500ms ease;
	-o-transition: transform 500ms ease;
	transition: transform 500ms ease;
}

.nav-wrapper .material-icons:hover {
	transform: translateY(-5px);
}

.productslist .row {
	margin-bottom: 0;
}

/* Product Card */
.item-container {
  position: relative;
  width: 250px;
  border: 1px solid #eee;
  background-color: #fff;
  margin: 0 0 12px 12px;
  -webkit-box-shadow: 1px 1px 3px #f2f2f2;
  box-shadow: 1px 1px 3px #f2f2f2;
  -webkit-background-size: 100% 200px;
  background-size: 100% 200px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #fafafa 0, #fdfdfd 20%, #fff 60%);
  padding: 20px;
	overflow: hidden;
}

.item-container a {
	color: #000;
}

.item-container:hover {
	border-color: #2B85E7;
	border-radius: 4px;
	box-shadow: 0 8px 8px rgba(1,67,163,.24), 0 0 8px rgba(1,67,163,.12), 0 6px 18px rgba(43,133,231,.12);
	transform: translate3d(0,-2px,0);
}

.item-container .img-holder {
  height: 10rem;
}

.item-container .product-img {
  width: 100%;
  height: 100%;
}

.item-container .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #bbb;
  cursor: pointer;
}

.item-container .product-title {
  font-size: 1.25rem;
	color: #aaa;
}

.item-container .product-price {
  font-size: 20px;
}

.item-container .old-price {
	text-decoration: line-through;
	font-size: 12px;
}

.item-container .current-price {
	color: #f00;
}

.item-container .quantity {
  font-weight: 600;
}

.item-container .unit-qty {
  text-align: left;
	padding-top: 20px;
}

.item-container .product-description {
   height: 1rem;
   color: #aaa;
   font-style: italic;
}

.item-container .row:last-of-type {
  margin-bottom: 0;
}

.item-container .add-to-cart-btn {
  font-size: .875rem;
}

.item-container .add-to-cart-btn:hover {
  transform: scale(1.03);
}

.item-container .close {
  -webkit-transition: color 750ms ease;
  -o-transition: color 750ms ease;
  transition: color 750ms ease;
}

.item-container .close:hover {
  color: #f00;
}

.item-container.sold-out::after {
	color: #000;
  content: 'Sold Out!';
  position: absolute;
  background-color: #f00;
  top: 50%;
  left: 50%;
	width: 150px;
  transform: translate(-50%, -50%) rotate(15deg);
  text-align: center;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 800;
}

.item-container.featured::after {
	color: #fff;
	content: 'Featured';
	position: absolute;
	background-color: #ff3800;
	width: 80%;
	top: 20px;
  left: -65px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	text-align: center;
	padding: 0 10px;
	border-radius: 5px;
}

.item-container .rating {
	background-image: url(https://storage.googleapis.com/surplus-6507a.appspot.com/assets/ratings.png);
	background-position: 80% 10%;
	height: 25px;
	width: 100%;
	margin: 5px 0;
}

.rating.stars-0 {
	background-position-y: 10%;
}
.rating.stars-0-1 {
	background-position-y: 18%;
}
.rating.stars-1 {
	background-position-y: 26%;
}
.rating.stars-1-2 {
	background-position-y: 34%;
}
.rating.stars-2 {
	background-position-y: 42%;
}
.rating.stars-2-3 {
	background-position-y: 50%;
}
.rating.stars-3 {
	background-position-y: 58%;
}
.rating.stars-3-4 {
	background-position-y: 66%;
}
.rating.stars-4 {
	background-position-y: 74%;
}
.rating.stars-4-5 {
	background-position-y: 82%;
}
.rating.stars-5 {
	background-position-y: 90%;
}

/*Users*/
.profile {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #eee;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                0 1px 5px 0 rgba(0,0,0,0.12),
                0 3px 1px -2px rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 5px;
    margin: 0 10px 20px;
    text-align: center;
}

.preview {
    position: relative;
    display: flex;
}

.preview img {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    max-width: 300px;
    max-height: 194px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5),
                0 1px 5px 0 rgba(0,0,0,.5),
                0 3px 1px -2px rgba(0,0,0,0.6);
}

.preview .btn-floating {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.preview:hover .btn-floating {
    opacity: 1;
}

.productslist {
    display: flex;
    flex-flow: row wrap;
}

.login-form {
  display: flex;
  justify-content: center;
}

.login-form form {
  width: 500px;
  margin: 30px;
}

.login-signup-buttons {
  display: flex;
  justify-content: space-between;
}

.productslist {
	position: relative;
	min-height: 300px;
}

.productslist .fa-spinner {
	position: absolute;
  top: 100px;
  left: 50%;
	color: #aaa;
}


/*Wrapper*/
.wrapper {
  min-height: 100%;
  padding-bottom: 100px;
}

/*Checkout*/
.checkoutBox {
	margin: 0 35px 35px;
  border: 1px solid #bbb;
  padding: 15px;
	color: #626669;
	font-size: 12px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.checkoutBox.checkoutBox_scrolled {
	position: fixed;
	width: 25%;
	top: 20px;
}

.checkoutBox.checkoutBox_scroll_finished {
	position: relative;
	/* bottom: 300px; */
}

.checkout_content {
	font-size: 15px;
	text-align: Left;
}

.pp-button {
	margin: 40px;
	padding: 10px;
}

.cart-item {
  border: 1px solid #bbb;
  padding: 20px 15px;
  margin: 0 20px 35px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.cart-item .product-image {
  border: 1px solid #ddd;
  height: 150px;
  width: 150px;
}

.cart-item .bottom-half {
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.cart-item .item-alert {
	width: 40%;
	color: #f00;
	font-weight: 600;
}

.cart-item .item-buttons {
	/* width: 60%; */
	display: flex;
	justify-content: space-between;
}

.cart-item .btn-item {
	border: 1px solid #ddd;
	background: 0;
	margin: 0 10px;
}

.cart-item .btn-item:hover {
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.cart-item .item-title {
	color: #0172A0;
	margin-bottom: 10px;
	font-weight: 600;
}

.cart-item .item-desc,
.cart-item .item-num {
	font-size: 12px;
	margin-bottom: 5px;
}

.cart-item .item-label {
	font-weight: 700;
}

.cart-item .item-price {
	font-weight: 800;
	text-align: right;
}

.cart-item .product-image:hover {
	transform: scale(1.02);
}

.page-title {
	padding: 0 20px;
	font-weight: 600;
}

.total-label {
	float: left;
}

.total-value {
	float: right;
}

.totals-item {
	margin: 0 0 5px;
	height: 20px;
}

.totals-item.total-type-subtotal {
	font-weight: 700;
	color: #626669;
}

.totals-item.total-type-grandtotal {
	font-weight: 700;
	font-size: 20px;
	color: #0f801e;
}

/* Results */
.results-container {
	display: flex;
	padding: 30px 30px 10px;
}

/* Sign Up/In */

form .input-field {
	font-weight: 800;
}

form .input-field label {
	font-weight: 400;
	font-size: .875rem;
}

.container hr {
	border: 3px solid #ddd;
}

.pagination li.active {
	background-color: #3f51b5;
}

/* 404 Page */
.pageNotFound {
	display: flex;
	width: 70%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.pageNotFound a {
	color: #888;
}

.pageNotFound .link {
	color: blue;
}

/* About Us */
.foundersList {
	width: 100%;
	margin: 0 auto;
}

.founder {
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;
}

.founder img {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-right: 20px;
}

.foundersList hr {
	border: 3px solid #eee;
	width: 80%;
}

.about-surplus,
.about-founders {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
}

.about-surplus h5,
.about-founders h5 {
	color: #1f2963;
	font-weight: 600;
	font-family: Oswald, sans-serif;
}

.product-item .product-img {
	margin: 30px;
}

.product-item .product-img img {
	width: 500px;
}

/*Our Vision*/
.our-vision h5 {
	color: #1f2963;
	font-weight: 200;
	font-family: Oswald, sans-serif;
    font: bolder 7vw 'Alfa Slab One';
    text-align: center;
    margin: 0 auto;
    background: linear-gradient(-45deg, #FFFF00, #12DB12, #23A6D5, #23D5AB) center;
    background-size: 200% 200%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
    margin: auto;
    width: 75vw;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-top: 4vw;
}

.our-vision h1 {
	color: black;
	font-weight: 200;
	font-family: Oswald, sans-serif;
    font: bolder 3vw 'Alfa Slab One';
    text-align: center;
    margin: 0 auto 4vw auto;
}

.our-vision .tagline {
	padding: 0 20%;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Checkout */
.fixed-totals {
	position: fixed;
	width: 25%;
	top: 125px;
}

/* Dispute Page */
.disputePage .link {
	color: blue;
}

/* Help Center */
.helpCenter .faq-question {
	font-style: italic;
	color: rgba(102, 0, 255, 1);
}

.helpCenter .faq-answer {
	font-size: 1.25rem;
}

.helpCenter .faq-answer span {
	font-weight: 600;
}

@media only screen and (min-width: 993px) {
	.container {
		width: 90%;
	}

}

@media only screen and (max-width: 993px) {
	.navitem-shopping-cart .cart-badge {
		left: 25px;
	}

	.searchBtn {
		display: none;
	}
}
